<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>


<div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>About Us</p>
                            </a>
                        </li>
                        
						<li>
                            <a href="../jsp/logout.jsp">
								<i class="ti-settings"></i>
								<p>Logout</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        
        
        
<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                         <h3 class="glyphicon glyphicon-log-in icon-success fa-5x"></h3>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Total Orders</p>
                                            <%= ord.numOfOrder() %>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <span class="glyphicon glyphicon-refresh"></span> Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <h3 class="glyphicon glyphicon-user icon-warning fa-5x"></h3>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Total Customers</p>
                                           	<%= customerManage.numOfCustomers() %>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <span class="glyphicon glyphicon-refresh"></span>  Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <h3 class="glyphicon glyphicon-bookmark icon-info fa-5x"></h3>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Total Employees</p>
                                           	<%=  employeeManage.numOfEmployees() %>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <span class="glyphicon glyphicon-refresh"></span>  Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                         <h3 class="glyphicon glyphicon-link icon-danger fa-5x"></h3>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Total Packages</p>
                                            <%= packManage.numOfPacks() %>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <span class="glyphicon glyphicon-refresh"></span>  Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
<!-- 
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Next Orders</h4>
                                <p class="category">hurry up</p>
                            </div>
                            <div class="content">
                               some content
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
-->
        